<nav id="navbar">

    <div id="logo">
        <img src="ytlogo.png" alt="yt">
    </div>

    <ul>
        <li id="ba"><a href="../home"><i class="fa-solid fa-bars fa-1.5x"></i></a></li>
        <li id="but"> <i href="../profile" class="fa-solid fa-user"></i></input></li>

    </ul>

    <div class="searchdiv">
        <ul>
        <li id="search"><input type="search" name="search"></input></li>
        <li id="searchb"><i name="searchb" class="fa-solid fa-magnifying-glass"></i></input></li>
        </ul>
    </div>
</nav>