{{> header}}

<form method="post">
    <ul>

        <li>
            <label class="labels" for="email">Email Id</label>
        </li>
        <li>
            <input class="inputs" id="email" type="text" name="email"> </input>
        </li>

        <li>
            <label class="labels" for="pass">Password</label>
        </li>
        <li>
            <input class="inputs" id="pass" type="password" name="pass"> </input>
        </li>

        <li>
            <input class="butons" type="submit"></input>
        </li>
    </ul>
</form>

<button class="buton"><a id="hi" href="./register">Sign Up</a></button>

</form>
{{> footer}}