{{> header}}

<form method="post">

    <!-- Name :<input id="name" type="text" name="name" required></input><br> -->
    Email:<input id="uemail" type="email" name="email" required> </input><br>
    <!-- Phone number :<input id="phone" type="tel" name="phone" required></input><br> -->
    Password:<input id="upass" type="password" name="pass" required> </input>
    <input type="submit"></input>

</form>
{{> footer}}