{{> header}}
<div>
    <form method="post">
        <ul>
            <li>
                <label class="labels" for="name">Name</label>
            </li>
            <li>
                <input class="inputs" id="name" type="text" name="name"> </input>
            </li>
            <li>
                <label class="labels" for="email">Email Id</label>
            </li>
            <li>
                <input class="inputs" id="email" type="text" name="email"> </input>
            </li>
            <li>
                <label class="labels" for="phone">Phone Number</label>
            </li>
            <li>
                <input class="inputs" id="phone" type="text" name="phone"></input>
            </li>

            <li>
                <label class="labels" for="pass">Password</label>
            </li>
            <li>
                <input class="inputs" id="pass" type="password" name="pass"> </input>
            </li>

            <li>
                <input class="butons" type="submit"></input>
            </li>
        </ul>
    </form>
    <button class="buton"><a id="hi" href="./login">Login</a></button>

</div>

{{> footer}}