{{> header}}
{{> nav}}

<form method="post">

    Name :<input id="name" type="text" name="name" required> </input><br>
    Email:<input id="email" type="email" name="email" required> </input><br>
    Phone number :<input id="phone" type="tel" name="phone" required></input><br>
    Password:<input id="pass" type="password" name="pass" required></input>
    <input type="submit"></input>

</form>

<div class="logo">
    <img href="ytlogo.png" alt="yt">
</div>
{{> footer}}