<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <script src="https://kit.fontawesome.com/a92e58b82d.js" crossorigin="anonymous"></script>
    <script src="../js/upload.js"></script>
    <title>Document</title>
</head>

<body>

    {{> nav}}

    <form class="inputform" method="post">

            <label class="uploadv" for="title">title</label>
            <input class="uploadv textfield" id="title" type="text">

            <label class="uploadv" for="Keywords">Keywords</label>
            <input class="uploadv textfield" id="Keywords" type="text">

            <label class="uploadv" for="thumb">thumbnail</label>
            <input class="uploadv" id="thumb" type="file" accept="image/*"></input>

            <label class="uploadv" for="video">video</label>
            <input class="uploadv" id="video" type="file" accept="video/*"></input>

            <input type="button" value="Upload Video">

    </form>

    {{> footer}}